{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>Neuroengineering <br /> Journal Club</h1>
    <p>{{.Description}}</p>
  </div>

  <div class="form-subscribe">
      <div id="form-subscribe-success" style="display: none;"></div>
  <div id="form-subscribe-box">
          <h4>Follow us to check in for next talk.</h4>
          <p>Monthly news &amp; updates. Just straight to the point.</p>

          <form action="" name="mc-embedded-subscribe-form" method="post" class="form"><input type="hidden" name="authorize-token" value="">
              <div id="subscribe-email-validation-error"></div>
              <div class="form-item">
                  <!-- Begin Mailchimp Signup Form -->
                  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                  <style type="text/css">
                  	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                  	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                  	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                  </style>
                  <div id="mc_embed_signup">
                  <form action="https://github.us19.list-manage.com/subscribe/post?u=340f80b3f4f2052dc78ed2cb8&amp;id=639a4bffa2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                  	<!-- <label for="mce-EMAIL">Subscribe to our mailing list</label> -->
                  	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_340f80b3f4f2052dc78ed2cb8_639a4bffa2" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                      </div>
                  </form>
                  </div>

                  <!--End mc_embed_signup-->
                  <!-- <div class="append">
                      <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Email">
                      <button class="button">Subscribe</button>
                  </div> -->
              </div>

              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="" tabindex="-1" value=""></div>
          </form>

      </div>
  </div>

  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Baseline" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Horizontal Rhythm</h3>
        <p>In Kube horizontal rhythm based on a 4px vertical grid is something that we are truly proud of.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>Typography</h3>
        <p>We obsess over typography, and it shows throughout Kube.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Minimalism</h3>
        <p>We strongly believe in minimalism as a general concept as well as a practical approach to everyday life.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Mobile-first Design</h4>
        <p>Every element in kube is mobile-first and fully embraces latest and greatest tech.</p>
      </div>
      <div class="col col-4 item">
        <h4>Cross-browser</h4>
        <p>Kube works in all modern browsers, both desktop and mobile, including latest Chrome, Firefox, Safari, Opera, IE and Edge.</p>
      </div>
      <div class="col col-4 item">
        <h4>License</h4>
        <p>Kube licensed under <a href="https://opensource.org/licenses/MIT">MIT</a>.<br>
      Kube Framework is absolutely free for personal or commercial use.</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
